<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>Motion</string>
	<key>NSFallDetectionUsageDescription</key>
	<string>Fall</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Noti</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Health record</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key></key>
	<string></string>
</dict>
</plist>
